<!DOCTYPE html>
<html>
<head> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/base.css">


</head>


<body>
    {% extends 'base.html' %}
    {% block content %}
    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center">
            <h1>Bienvenido a Facturas</h1>
            <p>Aca podras encontrar tus facturass</p>
            <h2></h2>
            {% if user.is_authenticated %}
                <a href="{% url 'agregarFacturaV' user.id %}"class="btn_get_started">Agregar Factura Venta</a>
                {% for facturaV in facturasV %}
            <div v-for="facturaV in facturasV" class="col"> 
                <div class="card-body"> 
                    <p class="card-text">Id producto: {{ facturaV.idFacturaV }}</p>
                    <p class="card-text">Nombre: {{ facturaV.cantProduct }}</p>
                    <p class="card-text">Descripción:{{ facturaV.totall}}</p>
                    <p class="card-text">Cantidad: {{ facturaV.estado}}</p> 
                    <p class="card-text">Precio: {{ facturaV.nombreCliente }}</p> 
                    <p class="card-text">Debe? {{ facturaV.debe }}</p> 
                    <p class="card-text">Cuanto? {{ facturaV.cuanto }}</p> 
                    <a class="btn btn-primary me-2" href="{% url 'actualizarFacturaV' user.id facturaV.idFacturaV %}">Actualizar</a>
                    <a class="btn btn-danger" href="{% url 'eliminarFacturaV' user.id facturaV.idFacturaV %}">Eliminar</a> 
                </div>
            </div>
                {% endfor %}
            {% else %}
                <a href="registro" class="btn_get_started">Iniciar</a>
            {% endif %} 
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% endblock content%}
</body>
</html>