<!DOCTYPE html>
<html>
<head> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/base.css">


</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    {% if user.is_authenticated %}
    
    
    <hr>
    <h3>Inventario</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4"> 
                {% for producto in productos %}
                {% if user.is_authenticated and user == producto.user %}
            <div v-for="producto in productos" class="col"> 
                <div class="card"> 
                    <img class="card-img-top" src="{{ producto.image.url }}" /> 
                <div class="card-body"> 
                    <p class="card-text">Id producto: {{ producto.idProducto }}</p>
                    <p class="card-text">Nombre: {{ producto.nombreProducto }}</p>
                    <p class="card-text">Descripción:{{ producto.descripcion }}</p>
                    <p class="card-text">Cantidad: {{ producto.cantidadProducto }}</p> 
                    <p class="card-text">Precio: {{ producto.precioUnit }}</p> 
                    <img class="card-img-top" src="{{ producto.image.url }}" /> 
                    <p class="card-text">Peso: {{ producto.peso }}</p>

                    <a class="btn btn-primary me-2" href="{% url 'actualizarProducto' user.id producto.idProducto %}">Actualizar</a>
                    <a class="btn btn-danger" href="{% url 'eliminarProducto' user.id producto.idProducto %}">Eliminar</a>
                </div>
            </div>
            </div>
            
                {% else %}
                    <h1>Acceso denegado</h1>
                
                
            
        </div>       
        {% comment %} <li class="list-group-item pb-3 pt-3">
            <h5 class="card-title">
                Materia: {{ materia.nombreMateria }}
            </h5>
            
            <p class="card-text">{{ review.text }}</p>
            
                <a class="btn btn-primary me-2" href="#">Update</a>
                <a class="btn btn-danger" href="#">Delete</a> {% endcomment %}

        {% endif %}
                            

        {% endfor %}
        <div>
            <br> <center><a href="{% url 'agregarProducto' user.id %}"class="btn btn-primary">Agregar Producto</a></div></center>   
            {% endif %}
    {% endblock content%}
</body>
</html>