{% extends 'base.html' %}
{% block content %}
{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Iniciar sesión | LaTi</title>
        <link href="{% static 'css/registro.css'%}" rel="stylesheet"> 
    </head>
    <body>

        <div class="login-box">
            
            <h1>Inicia sesión</h1>
            <form class="form" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="boton">
                    <button type="submit" id="submit" href="login">Log In</button>
                </div>
            </form>
        </div>
    </body>
</html>
{% endblock content %}