<!DOCTYPE html>
<html>
  <head>
    <title>Reporte de Ganancias</title>
  </head>
  <body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Reporte de Ganancias</h1>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Usuario</th>
          <th>Total de Ventas</th>
          <th>Costo de Productos Vendidos</th>
          <th>Ganancias</th>
        </tr>
      </thead>
      <tbody>
        {% for venta in ventas %}
        <tr>
          <td>{{ venta.fecha }}</td>
          <td>{{ venta.user }}</td>
          <td>{{ venta.total_ventas }}</td>
          <td>{{ venta.costo_productos }}</td>
          <td>{{ venta.ganancias }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock content%}
  </body>
</html>